<!DOCTYPE html>
<html>
<head>
    <title>短视频信息</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:shortvideo:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:shortvideo:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
            <#if shiro.hasPermission("sys:shortvideo:updateStage")>
            <a class="btn btn-primary" @click="updateStage"><i class="fa fa-pencil-square-o"></i>&nbsp;修改参赛阶段</a>
            </#if>
			<#if shiro.hasPermission("sys:shortvideo:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label" >参赛人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shortVideo.competitor" placeholder="参赛人" id="competitor" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">标题</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shortVideo.name" placeholder="标题" id="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">简介</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shortVideo.description" placeholder="简介" id="description"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">视频封面URL</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shortVideo.posterUrl" placeholder="视频封面URL" id="posterUrl"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">视频url</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="shortVideo.url" placeholder="视频url" id="url"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">评选阶段</div>
                        <label class="radio-inline">
                            <input type="radio" name="stage" value="preliminary" v-model="shortVideo.stage"/> 初选作品
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stage" value="semi-final" v-model="shortVideo.stage"/> 入围作品
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stage" value="final" v-model="shortVideo.stage"/> 获奖作品
                        </label>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate()" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/sys/shortvideo.js?_${.now?long}"></script>
</body>
</html>